/* Weather List component */
.roundedEdges {
  border-bottom: none;
  background-color: #fff;

  @mixin hover {
    background-color: var(--mantine-color-gray-0);
  }

  @mixin dark {
    background-color: var(--mantine-color-dark-8);

    @mixin hover {
      background-color: var(--mantine-color-dark-7);
    }
  }

}

.roundedEdges:first-child {
  border-top-left-radius: var(--mantine-radius-md);
  border-top-right-radius: var(--mantine-radius-md);

  @media (max-width: $mantine-breakpoint-sm) {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
}

.roundedEdges:last-child {
  border-bottom: 1px solid var(--mantine-color-default-border);
  border-bottom-left-radius: var(--mantine-radius-md);
  border-bottom-right-radius: var(--mantine-radius-md);

  @media (max-width: $mantine-breakpoint-sm) {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}

/* Hero component */
.topbar {
  z-index: -100;
  top: 0;
  position: fixed;
  height: 15rem;
  width: 100%;
  border-bottom: 1px solid var(--mantine-color-default-border);
  background: var(--mantine-color-dark-8);
}

[data-mantine-color-scheme='light'] .topbar {
  background: var(--mantine-color-gray-1);
}

/* glass effect */
.glassEffect {
  background: var(--mantine-color-dark-8);

  /* blurring effect */
  backdrop-filter: blur(9.5px);
    -webkit-backdrop-filter: blur(7.5px);

  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.18);

  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 4;
}

[data-mantine-color-scheme='light'] .glassEffect {
  background: var(--mantine-color-dark-1);
}

