/* Colorscheme toggle */
.icon {
  width: 22px;
  height: 22px;
}

.dark {
  @mixin dark {
    display: none;
  }

  @mixin light {
    display: block;
  }
}

.light {
  @mixin light {
    display: none;
  }

  @mixin dark {
    display: block;
    color: orange;
  }
}

/* --------------------- */

.navbar {
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
}
